.MoviePageLink-pageLink{
/* color: black; */
color: var(--link-color-primary);
    margin-right: 10px;
    
}

.MoviePageLink-pageLink:hover{

    /* color:  blue; */
    color: var(--link-color-secondary);

    font-weight: bold;
    /* font-size: large; */
 
    
}

.MoviePageLink-container{
    margin: 2vh;
}
.MoviePageLink-currentPage{
    font-weight: bold;
    /* color:  blue; */
    color: var(--link-color-secondary);

}